<style>
  .icon {
    height: 50px;
    margin: 0.5rem;
    border-radius: 50%;
  }
  .icon:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }
</style>
<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.linkedin.com/in/apsinhg5508/" target="_blank"
        ><img class="icon" src="/image/icons8-linkedin-188 (1).png"
      /></a>
      <a href="https://www.geeksforgeeks.org/user/apsingh5508/" target="_blank"
        ><img class="icon" src="/image/icons8-geeksforgeeks-144.png"
      /></a>
      <a href="https://github.com/Apsiingh" target="_blank"
        ><img class="icon" src="/image/icons8-github-188.png"
      /></a>
    </div>
    <div class="f-info-brand">&copy;WanderLa Private Limited</div>
    <div class="f-info-links">
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
    </div>
  </div>
</footer>
